{:sim-db-uri "datomic:free://localhost:4334/cook-sim"
 :cook-db-uri "datomic:free://localhost:4334/cook-jobs"
 :cook-api-uri "http://localhost:12321"
 :process-count 10
 :sim-model {:label "Travis sim run"
             :duration-seconds 30
             :user-profiles
             [{:description "Heavy Users"
               :usernames ["heavy1" "heavy2" "heavy3" "heavy4" "heavy5"]
               :docker-tendency 0.4
               :group-tendency 0.4
               :group-size {:mean 5
                            :std-dev 2
                            :floor 2
                            :ceiling 10}
               :seconds-between-jobs {:mean 2
                                      :std-dev 1
                                      :floor 1
                                      :ceiling 120}
               :job-duration {:mean 10
                              :std-dev 2
                              :floor 1
                              :ceiling 120}
               :job-memory {:mean 512
                            :std-dev 200
                            :floor 256
                            :ceiling 2048}
               :job-cpu {:mean 3.0
                         :std-dev 1.0
                         :floor 1.0
                         :ceiling 6.0}}
              {:description "Light Users"
               :usernames ["light1" "light2" "light3" "light4" "light5"]
               :docker-tendency 0.6
               :group-tendency 0.6
               :group-size {:mean 3
                            :std-dev 1
                            :floor 2
                            :ceiling 6}
               :seconds-between-jobs {:mean 6
                                      :std-dev 1
                                      :floor 1
                                      :ceiling 120}
               :job-duration {:mean 15
                              :std-dev 2
                              :floor 1
                              :ceiling 120}
               :job-memory {:mean 1024
                            :std-dev 1000
                            :floor 256
                            :ceiling 4000}
               :job-cpu {:mean 4.0
                         :std-dev 2.0
                         :floor 1.0
                         :ceiling 6.0}}
              {:description "Unschedulable Users"
               :usernames ["unsched1"]
               :group-tendency 0.5
               :group-size {:mean 4
                            :std-dev 1
                            :floor 2
                            :ceiling 6}
               :seconds-between-jobs {:mean 10
                                      :std-dev 3
                                      :floor 1
                                      :ceiling 120}
               :docker-tendency 0.5
               :job-duration {:mean 15
                              :std-dev 2
                              :floor 1
                              :ceiling 120}
               :job-memory {:mean 10240
                            :std-dev 1000
                            :floor 9000
                            :ceiling 20000}
               :job-cpu {:mean 4.0
                         :std-dev 2.0
                         :floor 1.0
                         :ceiling 6.0}}]}}
