*.class
*.iml
*.jar
*.swo
*.swp
*~
*.pyc
.DS_Store
.idea/
.vscode/
.kill_lein
.lein-cljsbuild-compiler*
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.minimesos/
.nrepl-port
.vim_jack_in
/checkouts
/classes
/lib
/log
/target
__pycache__/
gclog*
jobclient/src/cfg
pom.xml
pom.xml.asc
scheduler/checkouts
scheduler/log/
scheduler/resources/public/cook-executor*
scheduler/src/cfg
scheduler/trace*.csv
scheduler/.cook_kubeconfig_*
scheduler/cook.p12
scheduler/datomic/datomic-free-0.9.5394/
src/cfg/current.clj
target
test-log
*.orig
venv
dist
.vagrant/
jobclient/python/docs/build/
