*.class
*.iml
*.jar
*.swo
*.swp
*~
.DS_Store
.idea/
.kill_lein
.lein-cljsbuild-compiler*
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.minimesos/
.nrepl-port
.vim_jack_in
/checkouts
/classes
/lib
/log
/target
gclog*
jobclient/src/cfg
pom.xml
pom.xml.asc
scheduler/checkouts
scheduler/log/
scheduler/resources/public/cook-executor*
scheduler/src/cfg
scheduler/trace*.csv
src/cfg/current.clj
target
test-log
*.orig
venv
dist
