.idea
.lein-failures
.minimesos
.nrepl-port
bin
classes
datomic/datomic*/data
datomic/datomic*/log
datomic/datomic*/lib/cook*.jar
docs
gclog.*
log
simulator_files
target
test
test-log
test-resources
virtualenv*
venv*
