{:port #config/env-int "COOK_PORT"
 :authorization {:one-user "root"}
 :database {:datomic-uri "datomic:mem://cook-jobs"}
 :zookeeper {:local? true
             ;:local-port 3291 ; Uncomment to change the default port
             }
 :scheduler {:offer-incubate-ms 15000
             :task-constraints {:timeout-hours 1
                                :timeout-interval-minutes 1
                                :memory-gb 48
                                :retry-limit 15
                                :cpus 6}}
 :rebalancer {:dru-scale 1}
 :mesos {:master #config/env "MESOS_MASTER"
         :failover-timeout-ms nil ; When we close the instance of Cook, all its tasks are killed by Mesos
         :leader-path "/cook-scheduler"}
 :unhandled-exceptions {:log-level :error}
 :metrics {:jmx true}
 :nrepl {:enabled? true
         :port 8888}
 :log {:file "log/cook.log"
       :levels {"datomic.db" :warn
                "datomic.peer" :warn
                "datomic.kv-cluster" :warn
                :default :info}}}