{:port #config/env-int "COOK_PORT"
 :authorization {:one-user "root"}
 :database {:datomic-uri "datomic:free://datomic-free:4334/cook-jobs"}
 :zookeeper {:connection #config/env "COOK_ZOOKEEPER"}
 :scheduler {:offer-incubate-ms 15000
             :task-constraints {:timeout-hours 1
                                :timeout-interval-minutes 1
                                :memory-gb 48
                                :retry-limit 15
                                :cpus 6}}
 :executor {:command "./cook-executor"
            :uri {:cache true
                  :executable true
                  :extract false
                  :value #config/env "COOK_EXECUTOR"}}
 :rebalancer {:dru-scale 1}
 :mesos {:master #config/env "MESOS_MASTER"
         :master-hosts [#config/env "MESOS_MASTER_HOST"]
         :failover-timeout-ms nil ; When we close the instance of Cook, all its tasks are killed by Mesos
         :leader-path "/cook-scheduler"
         :framework-id #config/env "COOK_FRAMEWORK_ID"}
 :unhandled-exceptions {:log-level :error}
 :metrics {:jmx true}
 :nrepl {:enabled? true
         :port #config/env-int "COOK_NREPL_PORT"}
 :log {:file "log/cook.log"
       :levels {"datomic.db" :warn
                "datomic.peer" :warn
                "datomic.kv-cluster" :warn
                :default :info}}}
