{:port 12321
 ;; We'll set the user to vagrant, since that's the default for many 
 ;  Vagrant-based Mesos setups
 :authorization {:one-user "vagrant"}
 :database {:datomic-uri "datomic:mem://cook-jobs"}
 :zookeeper {:local? true
             ;; Uncomment 'local-port' to change the default port
             ;:local-port 3291
             }
 :scheduler {:offer-incubate-ms 15000
             :task-constraints {:timeout-hours 1
                                :timeout-interval-minutes 1
                                :memory-gb 48
                                :cpus 6}}
 ;; Mesos Master can point to a zookeeper instance, or for testing,
 ;  a standalone instance of Mesos.
 ;  For Zookeeper, use  
 ;     :master "zk://${host}:$port}/mesos"
 ;  For a standalone intancee, use
 ;     :master ${host}:{$port} e.g. ':master "localhost:5050"
 :mesos {:master "localhost:5050"
         ;; Setting failover-timeout-ms to nil will cause all tasks to be
         ;  killed when we close this instance of Mesos
         :failover-timeout-ms nil 
         :leader-path "/cook-scheduler"}
 :unhandled-exceptions {:log-level :error}
 :metrics {:jmx true}
 :nrepl {:enabled? true
         :port 8888}
 :log {:file "log/cook.log"
       :levels {"datomic.db" :warn
                "datomic.peer" :warn
                "datomic.kv-cluster" :warn
                :default :info}}}
