{:port #config/env-int "COOK_PORT"
 :hostname "172.17.0.1"
 :authorization {:one-user "vagrant"}
 :database {:datomic-uri #config/env "COOK_DATOMIC"}
 :zookeeper {:connection #config/env "COOK_ZOOKEEPER"
             :local? #config/env-bool "COOK_ZOOKEEPER_LOCAL"
             :local-port #config/env-int-default ["COOK_ZOOKEEPER_LOCAL_PORT" -1]}
 :scheduler {:offer-incubate-ms 15000
             :task-constraints {:timeout-hours 1
                                :timeout-interval-minutes 1
                                :memory-gb 48
                                :retry-limit 200
                                :cpus 6}}
 :rebalancer {:dru-scale 1}

 :mesos {:master #config/env "MINIMESOS_ZOOKEEPER"
         :master-hosts [#config/env "MINIMESOS_MASTER_IP"]
         :failover-timeout-ms nil
         :leader-path "/cook-scheduler"
         :role "cook"
         :framework-id #config/env "COOK_FRAMEWORK_ID"}
 :executor {:command #config/env "COOK_EXECUTOR_COMMAND"}
 :unhandled-exceptions {:log-level :error}
 :metrics {:jmx true}
 :nrepl {:enabled? false}
 :log {:file #config/env "COOK_LOGFILE"
       :levels {"datomic.db" :warn
                "datomic.peer" :warn
                "datomic.kv-cluster" :warn
                "cook.mesos.rebalancer" :debug
                "cook.mesos.scheduler" :debug
                :default :info}}}
