<!--
Logback configuration. Logback will reload this configuration file
*approximately* every 30 seconds, but only if your application is
regularly sending log messages.
-->
<configuration scan="true" scanPeriod="30 seconds">
  <!-- Support java.util.logging efficiently -->
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <!-- The log file to watch in a console. Every 10 seconds, logs
       stats about progress and speed. -->
  <appender name="SUMMARY" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- One log file per day -->
      <fileNamePattern>log/%d{yyyy-MM-dd}.summary.log</fileNamePattern>
      <!-- Keep up to 30 days' history -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} %-5level %logger{15} %msg%n</pattern>
    </encoder>
  </appender>

  <!-- The detailed log for debugging. -->
  <appender name="DETAIL" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- One log file per day -->
      <fileNamePattern>log/%d{yyyy-MM-dd}.detail.log</fileNamePattern>
      <!-- Keep up to 30 days' history -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} %-5level %logger{15} %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="user" level="ALL" />
  <logger name="dev" level="ALL" />

  <!-- Send summary stats for long-running jobs to "${DATE}.summary.log" -->
  <logger name="twosigma.datomic" level="INFO">
    <appender-ref ref="SUMMARY" />
  </logger>

  <!-- Datomic is relatively verbose at "INFO", logging 2 events for
       every transaction. These messages will go in "${DATE}.detail.log" -->
  <logger name="datomic" level="INFO" />

  <!-- Uncomment this line to enable verbose logging for the
       twosigma.datomic processes -->
  <!-- <logger name="twosigma.datomic" level="TRACE" /> -->

  <!-- Copied from Datomic transactor's logback.xml: these packages
       log verbosely at DEBUG -->
  <logger name="httpclient" level="INFO"/>
  <logger name="org.apache.commons.httpclient" level="INFO"/>
  <logger name="org.apache.http" level="INFO"/>
  <logger name="org.jets3t" level="INFO"/>
  <logger name="com.amazonaws" level="INFO"/>
  <logger name="com.amazonaws.request" level="WARN"/>
  <logger name="sun.rmi" level="INFO"/>
  <logger name="net.spy.memcached" level="INFO"/>
  <logger name="com.couchbase.client" level="INFO"/>
  <logger name="org.apache.zookeeper" level="INFO"/>
  <logger name="com.ning.http.client.providers.netty" level="INFO"/>
  <logger name="org.eclipse.jetty" level="INFO"/>
  <logger name="org.hornetq.core.client.impl" level="INFO"/>
  <logger name="org.apache.tomcat.jdbc.pool" level="INFO"/>

  <root level="DEBUG">
    <appender-ref ref="DETAIL" />
  </root>
</configuration>
