beakerx==0.16.1
tornado==5.1.1
jupyter_client==5.2.3
nbconvert==5.6.0
nbformat==4.4.0
numpy==1.15.3
pip==19.2; python_version >= '3.6'
pytest==5.2.0
pytest-timeout==1.3.3
pytest-xdist==1.30.0
python-dateutil==2.8.1
requests==2.20.0
retrying==1.3.3
file:../cli#egg=cook_client
pygit2==0.28.2
