name: Cook Executor tests

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
      - 'build**'
      - kubernetes_integration
  schedule:
    - cron: '0 0 * * *'

jobs:
  test:
    runs-on: ubuntu-20.04
    env:
      PYTEST_ADDOPTS: --color=yes
      MESOS_NATIVE_JAVA_LIBRARY: /usr/lib/libmesos.so
      CLJ_HTTP_ASYNC_POOL_TEST_DURATION_MULTIPLIER: 5
      GDRIVE_LOG_POST_URL: https://script.google.com/macros/s/AKfycbxOB55OzrQSbpZO_0gzsxZaJ8LaUWWo3PDLNc-gCiMN1iObxu7x/exec
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ``
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/project.clj') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.6.x'
      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Setup tests
        run: cd executor && ./travis/setup.sh && env
      - name: Run tests
        run: env && cd executor && ./travis/run_tests.sh
