name: Cook Scheduler Simulator tests

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
      - 'build**'
      - kubernetes_integration
  schedule:
    - cron: '0 0 * * *'

jobs:
  test:
    runs-on: ubuntu-16.04
    env:
      PYTEST_ADDOPTS: --color=yes
      MESOS_NATIVE_JAVA_LIBRARY: /usr/lib/libmesos.so
      CLJ_HTTP_ASYNC_POOL_TEST_DURATION_MULTIPLIER: 5
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: '8'
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/project.clj') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.6.x'
      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install Mesos
        run: sudo ./travis/install_mesos.sh
      - name: Prepare simulation
        run: cd simulator && ./travis/prepare_simulation.sh
      - name: Run tests
        run: cd simulator && ./travis/run_simulation.sh
